.teams {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 90px;
  background-color: #212a3b;
  color: #fff;

  .team {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    margin-top: 15px;

    &.selected {
      position: absolute;
      top: 0;
      border: 2px solid white;
      width: 55px;
      height: 55px;
      cursor: default;
    }

    .providerIcon {
      max-height: 25px;
      max-width: 25px;
      position: relative;
      bottom: -5px;
      border-radius: 5px;
      left: 25px;
    }

    .new_message {
      position: relative;
      left: -15px;
      width: 9px;
      height: 9px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      margin-top: calc(50% - 6px);
    }
    .unread_counter {
      position: relative;
      top: -5px;
      right: -30px;
      width: 24px;
      height: 22px;
      background-color: #fb3c4c;
      border-radius: 40%;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      text-align: center;
      color: #feecec;
    }
  }

  .add {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 15px;
    color: #8e898b;
    border: #8e898b solid 2px;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 25px;
    cursor: pointer;
  }
}
