.loading {
  flex: 1;
  height: 100vh;
  background-color: #fafafa;
  .gif {
    height: 400px;
    display: block;
    margin: -40px auto auto;
  }
  .info {
    display: block;
    margin: auto;
    width: 700px;
    .title {
      display: block;
      margin: auto;
      width: 700px;
      margin-top: 90px;
      color: rgba(40, 40, 40, 0.54);
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      margin-bottom: 3px;
      span {
        position: absolute;
        margin-left: 1px;
      }
    }
    .progress_bar {
      display: block;
      height: 2px;
      background-color: #eff3f6;
      div {
        background-color: #166cd5;
        width: 40%;
        height: 100%;
      }
    }
  }
}
