.login {
  display: flex;
  flex: 1;
  height: 100vh;
  background-color: #fafafa;
}
.login .sidebar {
  display: inline-block;
  width: 50%;
  height: 100%;
}
.login .webview {
  opacity: 0;
  display: inline-flex;
  flex: 1;
  transition: opacity 300ms ease-in-out;
}
.login .webview.show {
  opacity: 1;
}
.login .webview> webview {
  flex: 1;
}
