.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(33, 42, 59, 0.95);
  color: #fff;
  width: 320px;
}

.sidebar .providers {
  height: 100%;
  width: 90px;
  position: absolute;
}

.sidebar .selected {
  background-color: white;
  border: white solid 2px;
  width: 57px;
  height: 57px;
  margin-top: 20px;
  margin-left: 15px;
  position: relative;
  border-radius: 50%;
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-image: url("http://i.imgur.com/LjHCXDP.png");
  position: absolute;
}

.sidebar .providers .bottom {
  bottom: 0;
  position: absolute;
  margin-left: 15px;
  width: 52px;
}

.sidebar .providers .bottom .provider {
  width: 55px;
  height: 55px;
  position: relative;
  border-radius: 50%;
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-image: url("http://i.imgur.com/LjHCXDP.png");
  margin-top: 10px;
}

.sidebar .providers .bottom .provider .new_message {
  width: 9px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.50);
  border-radius: 50%;
  left: -11px;
  position: absolute;
  margin-top: calc(50% - 6px);
}

.sidebar .providers .bottom .provider .unread_counter {
  width: 24px;
  height: 22px;
  background-color: #fb3c4c;
  border-radius: 40%;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #feecec;
  top: -25px;
  right: -5px;
  position: absolute;
  margin-top: calc(50% - 6px);
}

.sidebar .providers .bottom .add {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  color: #8e898b;
  border: #8e898b solid 2px;
  font-size: 45px;
  margin-left: 3px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}

.sidebar .teamInfo {
  width: calc(100% - 90px - 20px);
  height: 100%;
  position: absolute;
  right: 10px;
}

.sidebar .teamInfo .team {
  display: block;
  padding-top: 25px;
  margin-bottom: 35px;
}

.sidebar .teamInfo .team .name {
  font-size: 18px;
  margin-bottom: 2px;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.5px;
}

.sidebar .teamInfo .team .status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.sidebar .teamInfo .team .status.online {
  background-color: #7fd421;
}

.sidebar .teamInfo .team .status.offline {
  background-color: gray;
}

.sidebar .teamInfo .team .status.away {
  background-color: yellow;
}

.sidebar .teamInfo .team .handle {
  margin-left: 4px;
  position: relative;
  font-weight: 400;
  top: 1px;
  color: rgba(255, 255, 255, 0.69);
}

.sidebar .teamInfo .channelsContainer {
  height: calc(100% - 109px);
  overflow: hidden;
}

.sidebar .teamInfo .channelsContainer:hover {
  overflow: auto;
}

.sidebar .teamInfo .channelsContainer::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.55);
  background-color: rgba(255, 255, 255, 0.1)
}

.sidebar .teamInfo .channels, .sidebar .teamInfo .dms {
  display: block;
  margin-bottom: 30px;
  margin-right: 3px;
}

.sidebar .teamInfo .dms {
  margin-bottom: 20px;
}

.sidebar .teamInfo .channels .title, .sidebar .teamInfo .dms .title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.58);
  margin-bottom: 6px;
}

.sidebar .teamInfo .channels .title span, .sidebar .teamInfo .dms .title span {
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.41);
}

.sidebar .teamInfo .channel:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

.sidebar .teamInfo .channel {
  padding: 4px 0 5px 3px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 100ms ease-in-out;
}

.sidebar .teamInfo .channel p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.58);
  font-weight: 400;
  letter-spacing: 0.5px;
}

.sidebar .teamInfo .channel .missed_pings {
  width: 22px;
  height: 20px;
  display: inline-block;
  background-color: #fb3c4c;
  border-radius: 40%;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #feecec;
  margin-left: 10px;
}

.sidebar .teamInfo .channel.attention p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 600;
}

.sidebar .teamInfo .channel.active {
  background-color: rgba(255, 255, 255, 0.12);
}

.sidebar .teamInfo .channel.active p, .sidebar .teamInfo .dms .dm.active .name {
  color: rgba(255, 255, 255, 0.85);
}

.sidebar .teamInfo .dms .dm {
  padding: 5px 0 5px 3px;
  margin-left: 2px;
  height: auto;
  position: relative;
}

.sidebar .teamInfo .dms .dm .image {
  width: 35px;
  border-radius: 50%;
  vertical-align: text-top;
  height: 35px;
  display: inline-block;
  background-position: center;
  background-size: contain;
}

.sidebar .teamInfo .dms .dm .status {
  width: 10px;
  height: 10px;
  position: absolute;
  margin-top: 12px;
  left: -15px;
  border-radius: 50%;
}

.sidebar .teamInfo .dms .dm .status.online {
  background-color: #7ed320;
}

.sidebar .teamInfo .dms .dm .name {
  display: inline-block;
  font-size: 14px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.58);
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-left: 10px;
  position: absolute
}
