.code {
  color: #d34d4d;
  border: 1px solid #d4d4d4;
  background-color: #fff8f8;
  border-radius: 3px;
  padding: 0 4px;
  font-family: monospace;
  font-size: 13px;

  .link {
    color: #d34d4d;
  }
}
