.chat {
  background-color: white;
  width: calc(100% - 320px);
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: column;

  @import 'header';
  @import 'sender';
  @import 'messages/messages';
}
