.messages {
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-right: 2px;
  flex: 1;
  .animation-wrapper {
    &.fade-appear {
      opacity: 0.01;
    }

    &.fade-appear.fade-appear-active {
      opacity: 1;
      transition: opacity 50ms ease-in;
    }
  }

  @import 'message/message';
  @import 'daySeparator';
}

.messages-animation-container {}
