.slack {
  flex: 1;
  .header {
    flex: none;
    padding-top: 50px;
    display: block;
    width: 100%;
    position: relative;
    height: 50px;
    object {
      margin-left: 150px;
      width: 250px;
    }
  }
  .contents {
    display: flex;
    height: calc(100% - 200px);
    .info {
      display: inline-block;
      width: 50%;
    }
    .webview-container {
      display: inline-flex;
      flex: 1;
      transition: opacity 300ms ease-in-out;
      .webview {
        flex: 1;
        &.show {
          opacity: 1;
        }
      }
    }
  }
}
