.slack {
  .sidebar {
    margin-bottom: 15px;
    max-width: 750px;
    width: 80%;
    margin-left: 8%;
    padding-top: 42px;
  }
  .webview {
    display: inline-flex;
    opacity: 0;
    flex: 1;
    transition: opacity 300ms ease-in-out;
    position: relative;
    width: 60%;
    max-width: 750px;
    &.show {
      opacity: 1;
    }
    > webview {
      flex: 1;
    }
  }
}
