.thumb-container {
  width: 100px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2px;
  right: 0;
  .thumb {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
