.attachments {
  margin-top: 10px;
  display: block;

  .attachment {
    .attachment-container {
      position: relative;
      padding-left: 13px;
      max-width: 900px;
      margin-top: 5px;
      box-sizing: border-box;
      .attachment-body {
        padding: 3px 0;
      }
      &.withThumb {
        padding-right: 125px;
      }
    }

    @import 'inline/all';

    @import 'attachments/text';
    @import 'attachments/image';
    @import 'attachments/thumb';
    @import 'attachments/sidebar';
    @import 'attachments/author';
    @import 'attachments/togglable';
    @import 'attachments/fields';
  }
}
